<app-header titulo="Calendar"></app-header>

<ion-content>
  <div class="ion-padding">
    <ion-calendar
      [(ngModel)]="date"
      [options]="options"
      (change)="onChange($event)"
      [type]="type"
      [format]="'YYYY-MM-DD'">
    </ion-calendar>
  </div>
  
  <ion-card>
    <ion-card-header class="color">
      <ion-card-title>Cambiar informacion de asistencia</ion-card-title>    
    </ion-card-header>
    <ion-card-content>
      <br>
      <ion-label>ID: {{ id }}</ion-label>
      <br>
      <ion-label>Fecha: {{ fecha }}</ion-label>
      <br>
      <ion-label>{{ x }}</ion-label>

      <ion-item>
      <ion-checkbox color="danger" slot="start" (ionChange)="update('Justificada')"></ion-checkbox>
      <ion-label> Justificada </ion-label>
      </ion-item>
      <ion-item>
      <ion-checkbox color="danger" slot="start" (ionChange)="update('Injustificada')"></ion-checkbox>
      <ion-label> Injustificada </ion-label>
      </ion-item>
      <ion-item>
      <ion-checkbox color="danger" slot="start" (ionChange)="update('Sin falta')"></ion-checkbox>
      <ion-label> Sin falta </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

