<app-header titulo="Nueva Ficha"></app-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label>Fecha:</ion-label>
      <ion-datetime cancelText="cancelar" doneText="aceptar" displayFormat="D MMM YYYY" [(ngModel)]="date" placeholder="Introduce la fecha" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Descripción de la actividad:</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="description" placeholder="Describa aquí la actividad, por favor"></ion-textarea>
    </ion-item>
  </ion-list>
  <p class="ion-text-center">
    <ion-button color="danger" expand="block" (click)="addFile()">Añadir ficha</ion-button>
  </p>
</ion-content>
